body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 50px;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}



button {
    background: transparent;
    color: white;
    border: none;
    padding: 0;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


button img.hand-image {
    background: transparent; /* Transparent background for images */
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgb(253, 253, 253);
    padding: 15px;
    margin: 10px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}


button:hover img.hand-image {
    background: transparent;
   
        transform: scale(1.08);  /* Slight scale effect */
        box-shadow: 0 0 20px rgba(255, 255, 253, 0.8);  /* Enhanced golden glow */
        transition: transform 0.2s, box-shadow 0.2s;
    
    
}

/* Reset Button */
#reset-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 10px;
    border-radius: 15px;
}


#reset-button:hover {
    background-color: #c82333;
    transform: scale(1.08);  /* Slight scale effect */

      
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Play Again Button */
#again {
    background-color: #28a745;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 15px;
}
#again[hidden] {
    display: none;
}

#again:hover {
    background-color: #218838;
}
#reset-button:hover
 {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8); /* Glowing red for reset */
}

#again:hover {
    box-shadow: 0 0 15px rgba(40, 167, 69, 0.8);
    transform: scale(1.08);  /* Slight scale effect */
      
    transition: transform 0.2s, box-shadow 0.2s; /* Glowing green for play again */
}

.result {
    font-size: 22px;
    color: #fdfdfd;
    margin: 20px;
}

.moves, .score, .round {
    font-size: 18px;
    color: #ccc;

}
.score,
.rounds {
    margin-top: 5px;
    letter-spacing: 1px; 
    line-height: 1.5; 
}

